<app-page-header text="GROUPS"></app-page-header>
<div class="container">
  <md-list>
    <h3 md-subheader>RECENT</h3>

    <md-list-item *ngFor="let message of recent">
      <img md-list-avatar src="{{message.avatar}}" alt="...">
      <h3 md-line>{{message.from}} <span
        class="recent-label">-{{message.type}}</span></h3>
      <p md-line>
        <span>{{message.content}}</span>
      </p>
    </md-list-item>

    <md-divider></md-divider>

    <h3 md-subheader>HAPPENINGS CONVERSATIONS</h3>
    <md-list-item *ngFor="let message of happenings_conversations">
      <img md-list-avatar src="{{message.avatar}}" alt="...">
      <h3 md-line> {{message.name}} </h3>
      <p md-line>
        <span> {{message.from}}: {{message.content}} </span>
      </p>
    </md-list-item>

    <button md-raised-button>MORE HAPPENINGS CONVERSATIONS</button>

    <md-divider></md-divider>

    <h3 md-subheader>FRIENDS CONVERSATIONS</h3>
    <md-list-item *ngFor="let message of friends_conversations">
      <img md-list-avatar src="{{message.avatar}}" alt="...">
      <h3 md-line> {{message.name}} </h3>
      <p md-line>
        <span> {{message.content}} </span>
      </p>
    </md-list-item>

    <button md-raised-button>MORE FRIENDS CONVERSATIONS</button>

    <h3 md-subheader>OTHER</h3>

  </md-list>
</div>
