<app-page-header text="GROUPS"></app-page-header>
<div class="container">
  <mat-list>
    <h3 mat-subheader>RECENT</h3>

    <mat-list-item *ngFor="let message of recent">
      <img mat-list-avatar src="{{message.avatar}}" alt="...">
      <h3 mat-line>{{message.from}} <span
        class="recent-label">-{{message.type}}</span></h3>
      <p mat-line>
        <span>{{message.content}}</span>
      </p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader>HAPPENINGS CONVERSATIONS</h3>
    <mat-list-item *ngFor="let message of happenings_conversations">
      <img mat-list-avatar src="{{message.avatar}}" alt="...">
      <h3 mat-line> {{message.name}} </h3>
      <p mat-line>
        <span> {{message.from}}: {{message.content}} </span>
      </p>
    </mat-list-item>

    <button mat-raised-button>MORE HAPPENINGS CONVERSATIONS</button>

    <mat-divider></mat-divider>

    <h3 mat-subheader>FRIENDS CONVERSATIONS</h3>
    <mat-list-item *ngFor="let message of friends_conversations">
      <img mat-list-avatar src="{{message.avatar}}" alt="...">
      <h3 mat-line> {{message.name}} </h3>
      <p mat-line>
        <span> {{message.content}} </span>
      </p>
    </mat-list-item>

    <button mat-raised-button>MORE FRIENDS CONVERSATIONS</button>

    <h3 mat-subheader>OTHER</h3>

  </mat-list>
</div>

<mat-spinner class="load-spinner"></mat-spinner>
