<div class="wrapper">
  <div class="header-wrapper">
    <h3>{{headerText}}</h3>
    <mat-icon *ngIf="headerIcon">{{headerIcon}}</mat-icon>
  </div>
  <div class="left-side">

    <div *ngIf="options">
      <button mat-icon-button [matMenuTriggerFor]="menu"
              class="menu-list-activate-button">
        <span>Update Profile</span>
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let option of options"
                (click)="option.callback()">
          <mat-icon>{{option.icon}}</mat-icon>
          <span>{{option.text}}</span>
        </button>
      </mat-menu>

    </div>
  </div>
</div>
