<div class="header">
  <div class="date mt-2 text-muted">
    {{message.created | date}}
  </div>
</div>
  <div class="content text-muted my-3">
    <i>Comment deleted</i>
  </div>
  <div class="footer">
    <div class="button-wrap">
      <button class="footer-button" mat-button (click)="replyClicked = !replyClicked">
        <mat-icon>reply</mat-icon><b>Reply</b>
      </button>
  </div>
  <app-message-create [inResponseTo]="message.id" [happeningId]="message.happening" *ngIf="replyClicked"></app-message-create>