:host {
    z-index: 3;
    position: relative;
}

.wrapper {
    /* header being 'fixed' will be positioned to the nearest available place, but will inherit the original document size, */
    color: #212121;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    margin: 0 0 1em 0;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.text {
    color: white;
    align-self: center;
    font-weight: 500;
    font-size: 1.3rem;
}

.icon {
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.8;
}

.success {
    background-color: #b7d8b7;
}

.error {
    background-color: #e33041;
}

.info {
    background-color: 7fbcec;
}

@media (max-width: 992px) {
    .account-container {
      display: block;
    }
    .image {
      display: none;
      background: none;
    }
    :host {
        width: 100% !important;
    }
  }