<div class="c">

  <div class="app-navigation-pc-logo">
    <h1 [routerLink]="['/dashboard']">I7</h1>
  </div>

  <app-navigation-list>
    <app-navigation-list-search></app-navigation-list-search>

    <app-navigation-list-item
      icon="notifications_active"
      text="NOTIFICATIONS"
      [routerLink]="['/notifications']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="dashboard"
      text="DASHBOARD"
      [routerLink]="['/dashboard']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="explore"
      text="EXPLORE"
      [routerLink]="['/explore']"
    ></app-navigation-list-item>
    <app-navigation-list-item
      icon="chat"
      text="GROUPS"
      [routerLink]="['/groups']"
    ></app-navigation-list-item>
    <app-navigation-list-item
      icon="home"
      text="SETTINGS"
      [routerLink]="['/settings']"
    ></app-navigation-list-item>
  </app-navigation-list>

</div>

<div class="bottom">
  <app-navigation-list>
    <app-navigation-list-item
      icon="power_settings_new"
      text="LOG OUT"
      [routerLink]="['/account/log-in']"
    ></app-navigation-list-item>
  </app-navigation-list>
</div>
