:host {
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;

  width: 280px;
  height: 100vh;
  overflow: auto;

  color: #eee;
  background-color: #5780ff;
}

.app-navigation-pc-logo {
  display: block;
  width: 100%;
}

.app-navigation-pc-logo h1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
}

.bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}
