<div class="c">

  <div class="app-navigation-pc-logo pointer" (click)="routeTo(['/dashboard'])">
    <img class="logo" src="/assets/logo_transparent.png"/>
  </div>

  <app-navigation-list>

    <app-navigation-list-item
      icon="search"
      text="Search"
      (click)="toggleSearchBar()"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="dashboard"
      text="Feed"
      (click)="routeTo(['/dashboard'])"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="explore"
      text="Explore"
      (click)="routeTo(['/explore'])"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="add_a_photo"
      text="Add a Photo"
      (click)="routeTo(['/events', 'add-photo'])"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="notifications"
      text="Notifications"
      [badge]="userNotificationsCount"
      (click)="routeTo(['/notifications'])"
    ></app-navigation-list-item>

  </app-navigation-list>

</div>

<div class="bottom">

  <app-navigation-list>

    <app-navigation-list-item
      icon="perm_identity"
      text="Profile"
      (click)="routeTo(['/settings'])"
    ></app-navigation-list-item>
  </app-navigation-list>

</div>
