<div class="c">

  <div class="app-navigation-pc-logo pointer" (click)="goToDashboard()">
    <img class="logo" src="/assets/logo_transparent.png"/>
  </div>

  <app-navigation-list>

    <app-navigation-list-item
      icon="search"
      text="Search"
      (click)="toggleSearchBar()"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="notifications"
      text="Notifications"
      [badge]="userNotificationsCount"
      [routerLink]="['/notifications']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="add_a_photo"
      text="Add a Photo"
      [routerLink]="['/notifications']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="dashboard"
      text="Feed"
      [routerLink]="['/dashboard']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="explore"
      text="Explore"
      [routerLink]="['/explore']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="chat"
      text="Groups"
      [routerLink]="['/groups']"
    ></app-navigation-list-item>

  </app-navigation-list>

</div>

<div class="bottom">

  <app-navigation-list>

    <app-navigation-list-item
      icon="perm_identity"
      text="Profile"
      [routerLink]="['/settings']"
    ></app-navigation-list-item>

    <app-navigation-list-item
      icon="power_settings_new"
      text="LOG OUT"
      (click)="logout()"
    ></app-navigation-list-item>
  </app-navigation-list>

</div>
