:host {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header button {
  transform: scale(0.9);
}

.menu-list-activate-button {
  width: auto;
}

button.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.avatar {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  border-radius: 90%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  transition: .5s ease;
  cursor: pointer;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 200px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.avatar:hover .choose-photo {
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .3);
  color: rgba(255, 255, 255, 1);
}

.choose-photo {
  color: white;
  line-height: 200px;
  cursor: pointer;
  font-weight: 800;
  width: 200px;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);

}

.photo-library {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .20);
  margin-bottom: 20px;
}

.photo-library .photo-wrap {
  width: 50%;
  flex-grow: 1;
  padding: 1px;
}

.photo-library img {
  width: 100%;
  flex: 1 0 100%;
}

.section-header {
  display: flex;
  justify-content: flex-start;
}

.section-header {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: #555;
  font-weight: 500;
  cursor: pointer;

  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.section-header:hover,
.text:active {
  color: #5780ff;

  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.section-header h3 {
  font-size: 1em;
  line-height: 1em;
  padding: 0.25em 0;
}

.section-header-icon {
  box-sizing: content-box;
  height: 1em;
  width: 1em;
  line-height: 1em;
  padding-left: 0.25em;
  padding-top: 0.275em;
  padding-bottom: 0.225em;
  font-size: 1em;
}

.friends-header-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-button {
  align-self: center;
  position: absolute;
  top: 20px;
}

.header-button-wrapper {
  position: relative;
  right: 110px;
}

.account-settings-btn {
  font-size: .8em;
  background-color: #548EFF;
  border-color: #548EFF;
}
