<div class="container pt-3">

  <div *ngIf="user else spinner">
    <div (click)="fileInput.click()" class="avatar d-flex justify-content-around"
         [ngStyle]="{'background-image': 'url(' + user.profile_picture_normal + ')'}">
      <div class="choose-photo text-center">
        <span>Change picture</span>
      </div>
      <input type="file" style="display:none;" (change)="onFileChanged($event)" #fileInput>
    </div>
  </div>
  <br>

  <!--Account Settings Button -->
  <div class="d-flex flex-column">
    <p class="text-center" *ngIf="user">{{user.username}}</p>
    <div class="d-flex">
      <button class="btn btn-primary btn-sm mx-auto account-settings-btn shadow-sm">Account Settings</button>
    </div>
  </div>

</div>
<ng-template #spinner>
  <mat-spinner class="mx-auto my-2"></mat-spinner>
</ng-template>

<!--Friends section-->
<div class="container mt-3">
  <app-friends-bar></app-friends-bar>
</div>
<div class="d-flex mt-2">
  <button
    [routerLink]="['/friends']"
    class="btn btn-primary btn-sm mx-auto account-settings-btn shadow-sm"
  >
    Manage Friends
  </button>
</div>

<!--Album-->

<div class="container mt-4">
  <div class="photo-library">
    <div class="photo-wrap"><img src="/assets/event_covers/1.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/event_covers/2.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/event_covers/3.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/event_covers/4.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/event_covers/5.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/event_covers/6.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/event_covers/4.jpg" alt="">
    </div>
  </div>
</div>

<mat-spinner class="load-spinner"></mat-spinner>
