<!--<div class="container">-->
  <!--<app-module-header-->
    <!--headerText="SETTINGS"-->
    <!--headerIcon="settings"-->
    <!--moreText="Profile Options"-->
    <!--moreIcon="more_vert"-->
    <!--[options]="settingsOptions"-->
  <!--&gt;</app-module-header>-->
<!--</div>-->

<app-page-header text="SETTINGS"></app-page-header>


<div class="container">

  <div class="avatar"></div>
  <br>
  <p class="text-center">Ellen Foreach (Ellne2231)</p>
  <p class="text-center">e.foreach@gmail.com</p>

</div>



  <!--<app-module-header-->
    <!--headerText="FRIENDS"-->
    <!--headerIcon="people"-->
  <!--&gt;</app-module-header>-->

<app-page-header text="FRIENDS"></app-page-header>

<div class="container">

  <!--<div class="section-header">-->
    <!--<h3>FRIENDS</h3>-->
    <!--<mat-icon class="section-header-icon">people</mat-icon>-->
  <!--</div>-->

  <div class="friends-preview-wrapper">
    <div class="friends-preview">

      <div class="friend-tile" *ngFor="let friend of friends">
        <div class="friend-avatar"
             [ngStyle]="{'background-image': 'url(' + friend.avatar + ')'}"></div>
        <div class="username">{{friend.username}}</div>
      </div>

    </div>
    <div class="opacity-cover"></div>
  </div>
</div>


<app-page-header text="MEMORIES"></app-page-header>
  <!--<div class="section-header">-->
    <!--<h3>MEMORIES</h3>-->
    <!--<mat-icon class="section-header-icon">photo</mat-icon>-->
  <!--</div>-->
<div class="container">
  <div class="photo-library">
    <div class="photo-wrap"><img src="/assets/happening_covers/1.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/happening_covers/2.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/happening_covers/3.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/happening_covers/4.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/happening_covers/5.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/happening_covers/6.jpg" alt="">
    </div>
    <div class="photo-wrap"><img src="/assets/happening_covers/4.jpg" alt="">
    </div>
  </div>
</div>

<mat-spinner class="load-spinner"></mat-spinner>
