<mat-list>
  <ng-container *ngFor="let message of messages">
      <mat-list-item  *ngIf="!message.removed">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-icon-button (click)="deleteMessage(message)" tabindex="-1">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
                </mat-nav-list>
          <img (click)="gotoUserProfile(message.author.id)" mat-list-avatar [src]="message.author.profile_picture_small" alt="...">
          <h3 mat-line class="message-author"> {{message.author.username}} </h3>
          <p mat-line>
            <span> {{message.body}} </span>
          </p>
          <p mat-line class="message-footer">
            <!-- <a class="message-footer" href="#" tabindex="-1"> comment </a> -->
            <span> {{ message.created | timeAgo }} </span>
          </p>
        </mat-list-item>
        <div *ngFor="let msg of responses">
            <mat-list-item  *ngIf="msg.in_response_to == message.id && !msg.removed" style="margin-left: 1.8em" (click)="deleteMessage(msg)">
                <img mat-list-avatar [src]="msg.author.profile_picture_small" alt="...">
                <h3 mat-line> {{msg.author.username}} </h3>
                <p mat-line>
                  <span> {{msg.body}} </span>
                </p>
            </mat-list-item>
        </div>
  </ng-container>
      <mat-list-item *ngIf="currentUser">
          <img (click)="gotoUserProfile(currentUser.id)" mat-list-avatar [src]="currentUser.profile_picture_small" alt="...">
          <h3 mat-line> You </h3>
          <p mat-line>
                 <mat-form-field class="add-comment-field">
                  <input matInput placeholder="Comment..." (keyup.enter)="sendMessage()" [(ngModel)]="newMessage.body" name="body">
                </mat-form-field>
            </p>
      </mat-list-item>
</mat-list>