<div class="restore-password-container">

  <div class="header">
    <app-account-header></app-account-header>
  </div>

  <div class="form">
    <h3 class="text-center">Recover Account</h3>
    <p class="text-center">To restore your account enter you e-mail address and we will send to you recovery instructions.</p>
    <form>

      <md-input-container class="input">
        <input mdInput placeholder="E-mail"
               [formControl]="emailFormControl">
      </md-input-container>

      <button md-raised-button>RECOVER</button>

    </form>

  </div>

  <div class="footer">
    <div class="text-center">
      <a [routerLink]="['/account/log-in']">Go back to log-in page</a>
    </div>
  </div>

</div>
