@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css");

// :host {
//     height: 100%;
//     width: 100%;
//     position: relative;
//     display: block;
//     background-color: red;
// }

// #location {
//     width: 100%;
//     height: 100%;
//     position: relative;
// }

.place {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 50px;
}