<div class="log-in-container">

  <div class="header">
    <app-account-header></app-account-header>
  </div>

  <div class="form">
    <h3 class="text-center">Sign In</h3>
    <form>

      <mat-input-container class="input">
        <input matInput placeholder="Username"
               [formControl]="emailFormControl">
      </mat-input-container>

      <mat-input-container class="input">
        <input matInput placeholder="Password"
               [formControl]="passwordFormControl">
      </mat-input-container>

      <button mat-raised-button [routerLink]="['/']">LOG IN</button>

    </form>
  </div>


  <div class="footer">
    <div class="text-center">
      <a [routerLink]="['/account/restore-password']">Forgot password? Click
        here</a>
    </div>
    <div class="text-center">
      <a [routerLink]="['/account/registration']">Don't have account? Create it
        here</a>
    </div>

  </div>

</div>
