<div class="my-3 text-center">
    <button class="mx-3" [ngClass]="'inactive'" (click)="goToFriends()" mat-button><b>Friends</b></button>
    <button class="mx-3" [ngClass]="'active'" mat-button><b>Invitations</b></button>
  </div>

<mat-list>
  <div class="text-muted ml-3">
    <p class="mt-3">REQUESTS</p>
  </div>
  <div *ngIf="requests.length > 0 else noRequests">
      <app-user-row 
      [text]="'Accept'" 
      *ngFor="let inv of requests" 
      [user]="inv.sender" 
      [relation]="relationStatus.received" 
      [friendRequest]="inv"
      [showButton]="true"
      [showMenu]="true"
      ></app-user-row>
  </div>
  <ng-template #noRequests>
    <div class="text-muted text-center">
      <p class="my-4">No requests</p>
    </div>
  </ng-template>

  <div class="text-muted ml-3">
    <p class="mt-2">YOUR INVITATIONS</p>
  </div>

  <div *ngIf="userInvitations.length > 0 else noUserInvitations">
      <app-user-row
      *ngFor="let inv of userInvitations"
      [user]="inv.receiver" 
      [relation]="relationStatus.sent" 
      [friendRequest]="inv"
      [showMenu]="true"
      ></app-user-row>
  </div>
</mat-list>

<ng-template #noUserInvitations>
  <div class="text-muted text-center mt-1">
    <p class="m-1">No invitations</p>
  </div>
</ng-template>
