<mat-list>
  <h3 mat-subheader>WAITING FOR YOU</h3>
  
  <mat-list-item *ngFor="let request of friendRequests">
    <img src="{{request.sender.profile_picture_small}}" mat-list-avatar>
    <p mat-line>{{request.sender.username}}</p>
    <button (click)="accept(request)" mat-stroked-button color="primary">
      Accept
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>

  <h3 mat-subheader>PENDING REQUESTS</h3>

  <mat-list-item *ngFor="let request of pendingRequests">
    <img mat-list-avatar src="{{request.receiver.profile_picture_small}}">
    <p mat-line>{{request.receiver.username}}</p>
    <button (click)="remove(request)" mat-stroked-button color="danger">
      Remove
    </button>
  </mat-list-item>

</mat-list>