<div class="header">
  <div *ngIf="currentUser">
    <img class="avatar" [src]="currentUser.profile_picture_small" alt="...">
  </div>
  <div class="content">
    <mat-form-field class="comment-area">
      <textarea [(ngModel)]="newMessage.body" matInput #message placeholder="Leave a comment"></textarea>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>
  </div>
</div>

<div class="footer">
  <button class="footer-button" mat-button (click)="sendMessage()">
    <mat-icon>send</mat-icon><b>Send</b>
  </button>
</div>