:host {
  background-color: #f1f1f1;
  z-index: 4;
}

$nav-bar-height: 50px;

.navigation-bar {
  height: $nav-bar-height;
  box-shadow: 0 -4px 0.25rem rgba(0, 0, 0, 0.075);
}

.nav-item {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: $nav-bar-height;
  color: #555;
  cursor: pointer;
}
