<div class="h-top-bar">

  <div class="h-search-bar">

    <form>

      <mat-form-field appearance="standard" color="none">
        <mat-label style="color: white">
          <mat-icon matSuffix>search</mat-icon>
          Search
        </mat-label>
        <input autocomplete="off" class="" matInput>
      </mat-form-field>

    </form>

    <div class="h-info" [routerLink]="['/notifications']">
      <mat-icon>notifications_active
      </mat-icon>
    </div>


  </div>

</div>

<!--Navigation -->

<div class="h-nav-bar">

  <mat-icon [routerLink]="['/dashboard']">dashboard</mat-icon>
  <mat-icon [routerLink]="['/explore']">explore</mat-icon>
  <mat-icon [routerLink]="['/groups']">chat</mat-icon>
  <mat-icon [routerLink]="['/settings']">home</mat-icon>

</div>

