<div class="h-top-bar">

  <div class="h-search-bar">

    <form>

      <mat-input-container>
        <span matPrefix><mat-icon matSuffix>search</mat-icon></span>
        <input matInput>
      </mat-input-container>

    </form>

    <div class="h-info">
      <mat-icon [routerLink]="['/notifications']">notifications_active
      </mat-icon>
    </div>


  </div>

</div>

<!--Navigation -->

<div class="h-nav-bar">

  <mat-icon [routerLink]="['/dashboard']">dashboard</mat-icon>
  <mat-icon [routerLink]="['/explore']">explore</mat-icon>
  <mat-icon [routerLink]="['/groups']">chat</mat-icon>
  <mat-icon [routerLink]="['/settings']">home</mat-icon>

</div>

