:host {
  display: block;
  color: #fff;
  background-color: #5780ff;
}

/*Search bar / top bar*/

.h-top-bar {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
}

.h-info {
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 73px;
  color: #ffeea3;
  padding: 0 1.3rem;
  cursor: pointer;
}

.h-info > mat-icon {
  font-size: 200%;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.h-search-bar {
  margin-left: 25px;
  flex-grow: 1;
  display: flex
}

.h-search-bar form {
  flex-grow: 1;
}

.h-search-bar form div {
  width: 100%;
}

/*Navigation bar*/

.h-nav-bar {
  flex-grow: 0;
  flex-shrink: 0;


  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.h-nav-bar > mat-icon {
  height: 40px;
  line-height: 32px;

  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  cursor: pointer;
}

form, mat-form-field {
  width: 100%;
}

form {
  padding-left: 1rem;
}
