<div class="search-container w-100 d-flex py-2">

  <div *ngIf="checkIfMainView()" class="slot-left" [routerLink]="['/events', 'add-photo']">
    <mat-icon>add_a_photo</mat-icon>
  </div>

  <div *ngIf="!checkIfMainView()" class="slot-left" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </div>

  <div class="slot-center flex-grow-1 f-flex">
    <input type="text" placeholder="Search..." [(ngModel)]="searchBarService.search" (ngModelChange)="onChangeSearchInput($event)"
      class="search-input w-100 justify-self-center">
  </div>

  <div *ngIf="!checkIfMainView()" class="slot-right pointer" [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </div>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item *ngFor="let option of options.options" (click)="option.handler()">
      <mat-icon>{{option.icon}}</mat-icon>
      {{option.text}}
    </button>
  </mat-menu>

  <div *ngIf="checkIfMainView()" [routerLink]="['/notifications']" class="slot-right pointer">
    <mat-icon [matBadge]="userNotificationsCount" matBadgeColor="warn">notifications</mat-icon>
  </div>
</div>

<div *ngIf="searchBarService.search" class="search-result">
    <app-search-result *ngIf="searchBarService.search" [privateI7Events]="privateI7Events" [publicI7Events]="publicI7Events"
    [usersFriends]="usersFriends" [usersStrangers]="usersStrangers"></app-search-result>
</div>