:host {
  /* flex-direction: column; */
  margin: 0 auto;
  width: 600px;
}

img {
  display: block;
  width: 100%;
  height: 300px;
  margin: auto;
}

mat-card-subtitle {
  color: #E76100;
}

::ng-deep .mat-card-header-text {
  margin: 0px 5px;
}

.starting {
  position: absolute;
  width: 100%;
  margin: -70px 10px 0px 0px;
  color: white;
  font-style: bold;
  line-height: 16px;
  text-align: center;
  background: rgba(174, 174, 174, 0.23);
  filter: blur(3px);
}

mat-card {
  padding: 0px;
}

.description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.image {
  width: 100%;
  margin-bottom: 5px;
}

mat-divider {
  margin: 0px 10px;
}

.map {
  height: 150px;
}

.buttons {
  display: flex;
  justify-content: center;
}


@media (max-width: 992px) {
  .options {
    display: none !important;
  }
}


