<mat-list>

  <h3 mat-subheader>PEOPLE YOU MAY KNOW</h3>

  <mat-list-item *ngFor="let pumk of pumks">
    <img src="{{pumk.avatar}}" mat-list-avatar>
    <p mat-line>{{pumk.username}}</p> <mat-icon>group_add</mat-icon>
  </mat-list-item>

  <div class="container">
    <button mat-raised-button>FIND FRIENDS</button>
  </div>

  <mat-divider></mat-divider>

  <h3 mat-subheader>FRIENDS</h3>

  <mat-list-item *ngFor="let friend of friends">
    <img mat-list-avatar src="{{friend.avatar}}">
    <p mat-line>{{friend.username}}</p>
  </mat-list-item>

</mat-list>

<div class="container">
  <p class="text-center">Endless scroll here...</p>
</div>
