<div class="main col-lg-8">
  <mat-form-field class="search-bar wide">
    <input [(ngModel)]="searchText" (ngModelChange)="onChangeSearchInput($event)" matInput placeholder="Search...">
  </mat-form-field>
  <mat-list>

    <h3 mat-subheader>Search result</h3>

    <mat-list-item *ngFor="let pumk of searchResult">
      <img src="{{pumk.profile_picture_small}}" mat-list-avatar>
      <p mat-line>{{pumk.username}}</p>
      <button (click)="add(pumk)" mat-stroked-button color="primary">
        Add
      </button>
    </mat-list-item>
  </mat-list>
</div>
<div class="side col-lg-4">
  <button class="wide" [routerLink]="['/friends/requests']" mat-raised-button>FRIEND REQUESTS</button>
  <mat-list>

    <h3 mat-subheader>PEOPLE YOU MAY KNOW</h3>

    <mat-list-item *ngFor="let pumk of pumks">
      <img src="{{pumk.profile_picture_small}}" mat-list-avatar>
      <p mat-line>{{pumk.username}}</p>
      <button (click)="add(pumk)" mat-stroked-button color="primary">
        Add
      </button>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader>FRIENDS</h3>

    <mat-list-item *ngFor="let friend of friends">
      <img mat-list-avatar src="{{friend.profile_picture_small}}">
      <p mat-line>{{friend.username}}</p>
      <button (click)="remove(friend)" mat-stroked-button color="warn">
          Remove
        </button>
    </mat-list-item>

  </mat-list>

  <div class="container">
    <p class="text-center">See more...</p>
  </div>

</div>