<div *ngIf="happening" class="wrapper">
  <img src="{{happening.image_normal}}" alt="" class="image">
  <div class="title-wrapper">
    <div class="date">
      <span class="day">
      {{happening.start | date:'d'}}
      </span>
      <span class="month">
      {{happening.start | date:'MMM'}}
      </span>
    </div>
      <mat-divider class="vertical-divider" [vertical]="true"></mat-divider>
      <div class="title-bar">
        {{happening.title}}
          <button (click)="goToUsersList()" mat-stroked-button color="primary" class="add-button mr-3">Attending
            <mat-icon class="section-header-icon">people</mat-icon>
          </button>
      </div> 
    </div>
  <mat-divider></mat-divider>  
  <app-messages *ngIf="happening" [happening]="happening"></app-messages> 
</div>
