  <div *ngIf="happening">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + happening.avatar + ')'}"></div>
        <mat-card-title>{{happening.title}}</mat-card-title>
        <mat-card-subtitle>Starts at {{happening.start | date:'mediumDate'}}, {{happening.start | date:'shortTime'}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{happening.image_normal}}">
      <mat-card-actions>
        <div>
          <span class="foo">8</span>
          <mat-icon>thumbs_up_down</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
    <app-messages [happening]="happening"></app-messages>  
  </div>
