  <mat-card *ngIf="happening">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + happening.author.profile_picture_small + ')'}"></div>
      <mat-card-title>{{happening.title}}</mat-card-title>
      <mat-card-subtitle>Starts at {{happening.start | date:'mediumDate'}}, {{happening.start | date:'shortTime'}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{happening.image_normal}}">
    <mat-card-actions>
      <div>
        <span class="foo"> {{happening.likes ? happening.likes : 0}}</span>
        <mat-icon>thumbs_up_down</mat-icon>
      </div>
    </mat-card-actions>
  </mat-card>
  <app-messages *ngIf="happening" [happening]="happening"></app-messages>
