:host {
  width: 100%;
}

mat-card {
  max-width: 600px;
  margin: 0 auto 15px auto;
}

div[mat-card-avatar] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

mat-card-actions {
  margin-bottom: -10px !important;
}

mat-card-actions mat-icon {
  font-size: 130%;
}

span.foo {
  margin: 0 10px;
  font-size: 140%;
}
