<div class="d-flex dashboard-wrapper">
  <a
    class="text-center my-3 flex-grow-1 font-weight-light"
    style="font-size: 1.15rem"
    [routerLink]="['/events/create']">
    Create new event
  </a>
</div>

<div class="container-fluid">

  <mat-card *ngFor="let happ of happenings" class="p-0">

    <!--Cover-->
    <app-cover
      mat-card-image
      class="pointer"
      size="normal"
      line1="5 december 2018 12:30"
      line2="In 3 days and 12 hours"
      [coverImage]="happ.image_normal"
      (click)="goToDetails(happ)"
    ></app-cover>

    <!--Header-->
    <app-event-header [happ]="happ"></app-event-header>

    <!--Content-->
    <mat-card-content class="px-3 pb-2">
      <p>
        {{happ.getShortDescription()}}
        <a
          [routerLink]="['/events/', happ.id]"
          *ngIf="happ.isLong()"
        >read more</a>
      </p>
    </mat-card-content>

  </mat-card>

</div>
