:host {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-nav {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.image-container {
  position: relative;
  z-index: 1;
  display: block;
}