<div class="registration-container">

  <div class="header">
    <app-account-header></app-account-header>
  </div>

  <div class="form">
    <h3 class="text-center">Sign Up</h3>
    <form>

      <md-input-container class="input">
        <input mdInput placeholder="Username"
               [formControl]="usernameFormControl">
      </md-input-container>

      <md-input-container class="input">
        <input mdInput placeholder="E-mail"
               [formControl]="emailFormControl">
      </md-input-container>

      <md-input-container class="input">
        <input mdInput placeholder="Password"
               [formControl]="password1FormControl">
      </md-input-container>

      <md-input-container class="input">
        <input mdInput placeholder="Repeat Password"
               [formControl]="password2FormControl">
      </md-input-container>

      <button md-raised-button [routerLink]="['/account/registration', 123]">REGISTER</button>

    </form>

  </div>

  <div class="footer">
    <div class="text-center">
      <a [routerLink]="['/account/log-in']">Go back to log-in page</a>
    </div>
  </div>

</div>
