:host{
  
  flex-grow: 1;
  overflow-y: auto;

}

.wrapper {
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

mat-icon{
  transform: scale(1.6);
}

.date-error {
  margin-top: -1.1em;
  font-size: 0.8em;
}

@media (max-width: 992px) {
  .back-button {
    display: none !important;
  }
}