:host {
  position: fixed;
  width: 100%;
  height: 100%;
}

iframe {
  flex: 1;
}

.h-add-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 4;
}

.h-add-button button {
  color: #ffd4b5;
  background-color: #ff7657 ;
}

.mapboxgl-marker {
  background-color: red;
  width: 100px;
  height: 100px;
}