:host {
  flex-grow: 1;
  display: flex;
}

iframe {
  flex: 1;
}

.h-add-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.h-add-button button {
  color: #ffd4b5;
  background-color: #ff7657 ;
}

.mapboxgl-marker {
  background-color: red;
  width: 100px;
  height: 100px;
}