<div class="h-content-box">

  <!--Top Bar-->
  <!--Search-->

  <div class="h-top-bar">

    <div class="h-navigate-before">
      <md-icon>navigate_before</md-icon>
    </div>

    <div class="h-search-bar">

      <form>
        <md-input-container class="example-full-width">
          <span mdPrefix><md-icon mdSuffix>search</md-icon></span>
          <input type="tel" mdInput>
        </md-input-container>

      </form>

    </div>

  </div>

  <!--Navigation -->

  <div class="h-nav-bar">

    <md-icon>explore</md-icon>
    <md-icon>chat</md-icon>
    <md-icon>people</md-icon>
    <md-icon>new_releases</md-icon>
    <md-icon>settings</md-icon>

  </div>

  <!--Content-->

  <div class="h-content">
    <router-outlet></router-outlet>
  </div>

</div>
