<div class="h-content-box">

  <!--Top Bar-->
  <!--Search-->

  <div class="h-top-bar">

    <div class="h-search-bar">

      <div class="h-info">
        <!--<md-icon [routerLink]="['/settings']">menu</md-icon>-->
      </div>

      <form>

        <md-input-container>
          <span mdPrefix><md-icon mdSuffix>search</md-icon></span>
          <input type="tel" mdInput>
        </md-input-container>

      </form>

      <div class="h-info">
        <md-icon [routerLink]="['/notifications']">notifications_active</md-icon>
      </div>


    </div>

  </div>

  <!--Navigation -->

  <div class="h-nav-bar">

    <md-icon [routerLink]="['/dashboard']">dashboard</md-icon>
    <md-icon [routerLink]="['/explore']">explore</md-icon>
    <md-icon [routerLink]="['/groups']">chat</md-icon>
    <md-icon [routerLink]="['/friends']">photo_library</md-icon>
    <md-icon [routerLink]="['/settings']">settings</md-icon>

  </div>

  <!--Content-->

  <div class="h-content">
    <router-outlet></router-outlet>
  </div>

</div>
