:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-frame-content {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
}

app-frame-navigation-mobile {
  display: block;
}

app-frame-navigation-pc {
  display: none;
}

@media (min-width: 992px) {

  :host {
    flex-direction: row;
  }

  app-frame-navigation-mobile {
    display: none;
  }

  app-frame-navigation-pc {
    display: block;
  }

}

