<div class="my-3 text-center">
  <button class="mx-3" [ngClass]="'active'" mat-button><b>Friends</b></button>
  <button class="mx-3" [ngClass]="'inactive'" (click)="goToInvitations()" mat-button><b>Invitations</b></button>
</div>

<div>
  <mat-list>
    <app-user-row 
      *ngFor="let friend of friends" 
      [user]="friend" 
      [relation]="relationStatus.friend"
      [showMenu]="true"
      ></app-user-row>
  </mat-list>
  
  <div *ngIf="friends.length === 0" class="text-muted text-center mt-5">
    <p class="m-1">Friend list is empty.</p>
  </div>
</div>