<div class="wrapper" *ngIf="message && !message.removed else removed">
  <div class="header my-2 px-2">
    <div class="p-2" *ngIf="message.author">
      <app-avatar [imgSrc]="message.author.profile_picture_small" (click)="gotoUserProfile(message.author.id)"></app-avatar>
    </div>
    <div class="name-wrapper">
      <div class="name">
        {{message.author?.username}}
      </div>
      <div class="date text-muted">
        {{message.created | date}}
      </div>
    </div>
    <button class="ribbon" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-menu-item (click)="delete()">
        <mat-icon>delete</mat-icon>
        delete
      </button>
    </mat-menu>
  </div>
  <div class="content px-3">
    {{message.body}}
  </div>
  <app-message-footer [message]="message"></app-message-footer>
</div>

<ng-template #removed>
  <div class="deleted">
    <div *ngIf="message" class="header p-2">
      <div class="date mt-2 text-muted">
        {{message.created | date}}
      </div>
    </div>
    <div class="content text-muted my-3 p-2">
      <i>Comment deleted</i>
    </div>
    <app-message-footer [message]="message"></app-message-footer>
  </div>
</ng-template>

<app-message-create *ngIf="message.replyClicked && !messageDetails" [inResponseTo]="message.id" [eventId]="message.i7event"></app-message-create>  