.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.name-wrapper {
  width: 100%;
}

.name {
  line-height: 18px;
  margin-bottom: 5px;
}

.date {
  line-height: 11px;
  font-size: 9px;
}

.content {
  display: flex;
  width: 100%;
  line-height: 18px;
  margin-bottom: 5px;
  word-break: break-all;
  word-wrap: break-word;
}

.footer-button {
  color:#548EFF;
}