:host {
    width: 100%;

}

.header {

}

.avatar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.12);
}

.name-wrapper {

}

.name {

}

.date {

}

.content {

}

.footer {

}