<mat-form-field class="search-bar wide">
  <input [(ngModel)]="searchText" (ngModelChange)="onChangeSearchInput($event)" matInput placeholder="Search...">
</mat-form-field>
<mat-list>

  <div *ngIf="searchText && usersStrangers.length === 0 && usersFriends.length === 0">
    <h3 mat-subheader>No Result</h3>
  </div>

  <div *ngIf="usersStrangers.length > 0">
    <h3 mat-subheader>Strangers</h3>
    <app-users-list
      [users]="usersStrangers"
      color="primary"
      (onButtonClick)="emitEvent($event)"
      text="Add Friend"
    ></app-users-list>
  </div>

  <!--<mat-divider *ngIf="usersStrangers.length > 0 && usersFriends.length > 0"></mat-divider>-->

  <div *ngIf="usersFriends.length > 0">
    <h3 mat-subheader>Friends</h3>
    <app-users-list
      [users]="usersFriends"
      color="primary"
      (onButtonClick)="emitEvent($event)"
    ></app-users-list>
  </div>

</mat-list>
