<div class="wrapper mt-3">
  <div class="d-flex ">
    <input #searchInput autofocus type="text" placeholder="Search..." [(ngModel)]="searchBarService.search" (ngModelChange)="onChangeSearchInput($event)"
      class="search-input w-100 justify-self-center">
    <mat-icon (click)="hide()" class=" ml-2 close-icon">close</mat-icon>
  </div>

  <app-search-result 
  [privateI7Events]="privateI7Events"
  [publicI7Events]="publicI7Events"
  [usersFriends]="usersFriends"
  [usersStrangers]="usersStrangers"
  >
  </app-search-result>
</div>
