<div class="wrapper mt-3">
<div class="d-flex ">
  <input autofocus type="text" placeholder="Search..." [(ngModel)]="search" (ngModelChange)="onChangeSearchInput($event)" class="search-input w-100 justify-self-center">
  <mat-icon (click)="hide()" class=" ml-2 close-icon">close</mat-icon>
</div>

    <div *ngIf="search" class="search-result mt-2">
      <mat-list>
        <div *ngIf="privateI7Events.length > 0">
          <span class="text-muted px-2 message-type">Private Events</span>
          <app-i7event-list [i7Events]="privateI7Events"></app-i7event-list>
        </div>
    
        <div *ngIf="publicI7Events.length > 0">
          <span class="text-muted px-2 message-type">Public Events</span>
          <app-i7event-list [i7Events]="publicI7Events"></app-i7event-list>
        </div>
    
        <div *ngIf="usersFriends.length > 0">
          <span class="text-muted px-2 message-type">Friends</span>
          <app-users-list [users]="usersFriends" color="primary">
          </app-users-list>
        </div>
    
        <div *ngIf="usersStrangers.length > 0">
          <span class="text-muted px-2 message-type">People</span>
          <app-users-list [users]="usersStrangers" color="primary">
          </app-users-list>
        </div>
      </mat-list>
    </div>
  </div>

