:host{
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  max-width: 600px;
  min-width: 515px;
  margin: 0 auto;
}

mat-icon{
  transform: scale(1.6);
}

.date-error {
  margin-top: -1.1em;
  font-size: 0.8em;
}