.friends-preview {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.friends-preview::-webkit-scrollbar {
  display: none;
}

.friend-tile {
  margin: 10px;
  width: 60px;
  height: 80px;
}

.friend-tile .friend-avatar {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #ddd;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.friend-tile .username {
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
