/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

* {
  font-family: Roboto, sans-serif;
}

.load-spinner {
  margin: 30px auto 20px auto;
  width: 60px !important;
  height: 60px !important;
}

h3.module-header {
  font-size: 0.9rem;
  margin: 16px 0;
  padding: 10px;
  color: rgba(0,0,0,0.54);
  text-transform: uppercase;
}

.marker {
  display: block;
  border-radius: 19px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  border-radius: 19px;
  border: 2px solid white;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.24);
  padding: 0;
}