/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

* {
  font-family: Roboto, sans-serif;
}

.load-spinner {
  margin: 30px auto 20px auto;
  width: 60px !important;
  height: 60px !important;
}
