:host {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1 !important;
}

.title-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

mat-card-header {
  font-size: 15px;
}

.organizer {
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

.organizer-text {
  font-size: 0.8rem;
  font-weight: bold;
}

.organizer {
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

.organizer-text {
  font-size: 0.8rem;
  font-weight: bold;
}

.whatshot {
  display: flex;
  cursor: pointer;

  span {
    font-size: 1.2em;
  }
}

.whatshot-on {
  color: #E76100;
}

.whatshot-off {
  color: #555;
}
