<div class="map" id="map"></div>

<style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 id="marker_title" class=""></h2>
        <img id="marker_image" class="" src="" />
        <p id="marker_latlng" class=""></p>
        <address id="marker_address" class=""></address>
        <p id="marker_content" class=""></p>
      </div>
    </div>
  </div>
</div>