<div *ngIf="message" class="footer mx-2 d-flex justify-content-between">
  <div class="button-wrap d-flex">
    <button class="footer-button p-0 d-flex" mat-button (click)="message.replyClicked = !message.replyClicked">
      <mat-icon class="align-self-center">reply</mat-icon><b>Reply</b>
    </button>
    <button (click)="handleVoteClick()" class="footer-button p-1 d-flex mx-1" mat-button>
    <b>{{message.likes}} Upvote</b> <mat-icon class="align-self-center">star</mat-icon>
    </button>
  </div>
  <button (click)="goToMessageDetails()" class="footer-button d-flex" mat-button>
    <mat-icon class="align-self-center">reply_all</mat-icon><b>See all</b>
  </button>
</div>