.form {
    display: flex;
    flex-direction: column;
    grid-area: form;
    margin-bottom: 30px;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .form form,
  .form form .input,
  .form button {
    width: 100%;
  }

  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #548EFF;
  }

  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #548EFF !important;
  }